


 .footer {
  position: fixed;
  top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #17192e;
  color: rgb(191, 179, 179);
  text-align: center;
}  


.example::-webkit-scrollbar {
  display: none;
}
body {
 background-color: #343541;
 overflow-y: hidden;
 overflow-x: hidden;
} 

.messages-box {
 
  flex: 1;
  overflow-y: auto;
  background-color: #343541;
}

.messages-list {
  width: 100%;
  padding-top: 40px;
  padding-left: 0;
  background-color: #343541;
  align-items: flex-start;
  justify-content: space-between;
  
}

.message {
  margin-bottom: 15px;
  list-style: none;
  
}

.message-text {
 
  padding: 35px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 5px;
 
}

.sent {

  background-color: #343541;
  align-self: flex-end;
  color: #dcdcdc;
}
.received {
  
  background-color: #444654;
  color: #e55865;
  align-self: flex-start;
}

.message-form {
  background-color: #343541;
  position: fixed;
  bottom: 60px;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
}

.message-input {
 width: 55px;
 height: 55px;
 display: flex;
 border-radius: 4px;
 font-size: 1.35rem;
 align-items: center;
 justify-content: center;
 color: var(--icon-color);
}

.btn-send {
  border-radius: 0;
}

.chat-container {
  height: 10%;
  display: flex; 
  flex-direction: column;
  background-color: #343541;
  overflow-y: auto;
  max-height: 100vh;
  padding-bottom: 150px;
  
} 

.default-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 0 10px;
  text-align: center;
  color: #b4e0ee;
}
.default-text h1 {
  font-size: 3.3rem;
}
.default-text p {
  margin-top: 10px;
  font-size: 1.1rem;
}