{% load static %}

 <div class="footer">
        
        <div class="footer-left text-muted">
            <br>
            <font size="2"><strong>
            <span class=" footercolor text-muted"> &copy {{current_year}} ||  </span>  
            <span class="footercolor text-muted" > Designed By | </span><a href="{%url 'index'%}" class="text-muted"> HOREN TECHNOLOGIES</a> 
            </strong>
            </font>
          </div>
          <br>
  </div>  



  
  <script src="{% static 'lib/jquery/jquery.min.js ' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/counterup/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/jquery.counterup.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'lib/typed/typed.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  
  <script src="{% static 'js/main.js' %}"></script>

  
<script>
  setTimeout(function(){
    $('#message').fadeOut('slow')
}, 4000)

</script>