
{% load static %}


 <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="{%url 'index'%}"><img alt="image" src="{%static 'img/logo1.png'%}" class="header-logo" /> </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
         
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{% url 'index'%}">{{user.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{%url 'logout' %}">Logout</a>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{%url 'login' %}">Login</a>
          </li>
         
          {%endif%}
                            
        </ul>
      </div>
    </div>
  </nav> 
