{% load static%}
<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Horen ChatGPT</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='shortcut icon' href="{% static 'img/favicon.ico'%}">
  {% comment %} <link rel="stylesheet" href="{% static 'css/create.css' %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style-orange.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/style-green.css' %}">
  <link rel="stylesheet" href="{% static 'css/style-purple.css' %}">
  <link rel="stylesheet" href="{% static 'css/style-red.css' %}">
  <link rel="stylesheet" href="{% static 'css/style-sky-blue.css' %}">

  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/js/lightbox.min.js' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/js/lightbox.js' %}" rel="stylesheet">
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css ' %}" rel="stylesheet">
  
  <link href="{% static 'lib/lightbox/js/lightbox.min.js' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  </head>

  

{% include 'includes/navbar.html' %}

{% block content %}
<!-- content -->
{%endblock%}

<!-- footer -->
{% include 'includes/footer.html' %}